/* Global Definitions */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display SC', serif;
}

a {
  font-family: 'Playfair Display SC', serif;
}

p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.2rem;
}

/* Title Page */

.front-page {
  background-image: url("../images/main-bg-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 780px;
}

.main-title {
  padding: 50px 0 70px 0;
}

.main-title h1 {
  font-size: 10rem;
  color: black;
  text-align: center;
}

.main-title h3 {
  font-size: 3rem;
  color: black;
  text-align: center;
}

/* Title page Navbar edits */

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 20px;
}

.navbar-nav > li {
  display: inline-block;
  float: none;
}

.navbar-toggler {
  margin: 0 auto;
}

.nav-item {
  font-size: 1.25rem;
  margin: auto;
  padding: 0 90px;
  align-items: center;
}

/* About Page */

.about-page {
  margin-bottom: 100px;
}

.about-page h1 {
  text-align: left;
  padding: 70px 0 0 50px;
  font-size: 5rem;
}

#pfp {
  max-width: 300px;
  float: left;
  margin-top: 59px;
  margin-left: 35px;
}

.start-bio {
  margin-top: 59px;
}
.text-content {
  text-align: left;
}

/* Testimonials-page */
.testimonial-page {
  padding-bottom: 150px;
}
#testimonials {
  background-color: #c4c4c4;
}

.test-title h1 {
  padding: 70px 0 250px 50px;
  font-size: 5rem;
}

.testimonial-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
  margin: auto;
  max-width: 70%;
  font-size: 30px;
  height: 400px;
}

.customer-name {
  margin-left: 80%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Page */

#price-title {
  font-size: 5rem;
  padding: 70px 0 0 50px;
}

#pricing {
  padding: 100px;
}

.card {
  text-align: center;
}

.price-text {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* Contact Page */

.contact-page {
  background-color: #c4c4c4;
  padding-bottom: 50px;
}

.contact-title-text {
  text-align: center;
  font-size: 5rem;
}

.contact-info {
  text-align: center;
}

/* .copyright-info-website-credit {
  text-align: right;
  font-size: 8px;
} */

/* Resizing Options */

@media (max-width: 1028px) {
  .nav-item {
    font-size: 1.5rem;
    padding: 0 200px;
  }

  .about-page h1 {
    text-align: center;
    padding-right: 50px;
    padding-bottom: 20px;
    font-size: 3rem;
  }

  #pfp {
    float: none;
    margin: auto;
    display: block;
  }

  .text-content {
    text-align: center;
    padding: 0 20%;
  }

  .bio-content {
    font-size: 25px;
  }

  .test-title h1 {
    text-align: center;
    padding-right: 50px;
    padding-bottom: 80px;
    font-size: 3rem;
  }

  .customer-name {
    margin-left: 50%;
  }

  #price-title {
    padding-right: 50px;
    text-align: center;
    font-size: 3rem;
  }

  .contact-title-text {
    font-size: 3rem;
    padding-bottom: 30px;
  }
}
